<%- include('partials/header.ejs');-%>
<div class="mainy ui container">
    <% data.forEach(function(x){%>
        <div>
            <h2><%= x.title%></h2>
            <img src="<%= x.image%>">
            <p><%=x.body.slice(0,5)%></p>
            <a href="blogs/<%=x._id%>">more info</a>
            <%=(x.created)%>
        </div>
        <%})%>
</div>
<%-include('partials/footer.ejs');-%>